---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Counter from '../components/Counter.astro';
import Location from '../components/Location.astro';
import ImageCard from '../components/ImageCard.astro';
import HeartCard from '../components/HeartCard.astro';

const zip = (a: any, b: any) => a.map((k: any, i: any) => [k, b[i]]);

const words = "I love you so much my beautiful darling girl !".split(" ")

const imgs = [
	"./IMG_20220326_170758.jpg",
	"./IMG_20220412_114227.jpg",
	"./IMG_20220506_175902.jpg",
	"./IMG_20220528_134100.jpg",
	"./IMG_20220717_132134.jpg",
	"./IMG_20230318_233758.jpg",
	"./IMG_20230320_154208.jpg",
	"./original_c526cbc3-274e-4468-92f5-bb1ae2f925bb_IMG_20210718_195703~2.jpg",
	"./original_6ecd1616-0e85-42e6-be19-a27f18268673_IMG_20220716_173404.jpg",
	"./IMG_20230201_223631.jpg"
];

const zipped_title_words = zip(words, imgs)


---

<Layout title="My darling Sára ❤️">
	<main>
		<h1>My darling <span class="text-gradient">Sára</span>❤️</h1>
		<ul role="list" class="link-card-grid">
			<Counter />
			<Location />
			<Card title="... and we'll go to so many more ❤️" />
		</ul>
		<ul role="list" class="photo-grid">
			{zipped_title_words.map((img) => (
				<ImageCard title={img[0]} img={img[1]}/>
			))}
		</ul>
		<ul role="list" class="link-card-grid">
			<HeartCard title="Happy anniversary my darling, love Paul" />
		</ul>

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 80vw;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: 100 vw;
		gap: 1rem;
		padding: 0;
	}
	.photo-grid {
		display: grid;
		grid-template-columns: 40vw 40vw;
		gap: 1rem;
		padding: 0;
	}
</style>
